@model Shaheer_BugTracker.Models.Ticket
@using Shaheer_BugTracker.Models
@using Microsoft.AspNet.Identity


@{
    var dashBoard = new DashboardView();
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Projct Details | Adminpro - Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/data-table/bootstrap-editable.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/normalize.css">
    <!-- charts CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/c3.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <br />
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h2> @Html.DisplayFor(model => model.TicketType.TypeName)</h2>
                        </div>
                        <ul class="breadcome-menu">
                            <li>
                                <a href="#">Home</a> <span class="bread-slash">/</span>
                            </li>
                            <li>
                                <a href="#">Graphs</a> <span class="bread-slash">/</span>
                            </li>
                            <li>
                                <span class="bread-blod">Project Details</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcome End-->
    <div class="project-details-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="project-details-wrap shadow-reset">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="project-details-title">
                                    <h2><span class="profile-details-name-nn"></span></h2>
                                    @Html.DisplayFor(model => model.Description)
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.AssignedToUser.FirstName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AssignedToUser.FirstName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.OwnerUser.FirstName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.OwnerUser.FirstName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.ProjectName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project.ProjectName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.TicketPriority.PriorityName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TicketPriority.PriorityName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.TicketStatus.StatusName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TicketStatus.StatusName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.TicketType.TypeName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TicketType.TypeName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Title)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Created)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Updated)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Updated)
                                        </dd>

                                    </dl>
                                    <br />
                                    <p>
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                        @Html.ActionLink("Back to List", "Index")
                                    </p>
                                    @foreach (var Id in dashBoard.myTickets)
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { model = Model.Id })
                                        @Html.ActionLink("Delete", "Delete", new { model = Model.Id })
                                    }
                                </div>
                                @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("TicketId", Model.Id)
                                    @Html.Label("Ticket Attachment", htmlAttributes: new { @class = "control-label col-md-2" })

                                    <input type="file" name="image" class="form-control" />
                                    @Html.ValidationMessage("Attach.Filepath", "", new { @class = "text-danger" })


                                    <button type="submit" class="btn btn-sm btn-primary">Add Attachment</button>
                                }
                                <div class="form-group">
                                    @foreach (var Attach in Model.TicketAttachments)
                                    {
                                        <a href="@Url.Content(Attach.FilePath)" target="_blank">@Attach.FilePath.Split('/')[2]</a> <br />
                                    }
                                </div>
                                <div>
                                    @foreach (var comment in Model.TicketComments)
                                    {
                                        <div class="container mt-3">
                                            <h3>@comment.User.DisplayName</h3>
                                            <div class="media">
                                                <img src="@comment.User.AvatarPath" style="width:100px" />
                                                <div class="media-body">
                                                    <h4>Written: @comment.Created.ToString("MMM dd, yyyy")</h4>
                                                    <p>@comment.Comment</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div>
                                    @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("TicketId", Model.Id)
                                        <div class="row">
                                            <div class="offset-3 col-md-6">
                                                @Html.TextArea("Comment", new { rows = 5, cols = 50, placeholder = "Add Comment" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="offset-3 col-md-6">
                                                <button type="submit" class="btn btn-sm btn-dark">Add</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @*<p>
                                       @foreach (var history in Model.TicketHistories)
                                       {
                                       <p>The @history.Property has been changed from @history.OldValue.ToString() to @history.NewValue.ToString()</p>
                                    </p>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    }

    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2018 Colorlib All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</body>

</html>
