@model IEnumerable<Shaheer_BugTracker.Models.ManageRoleViewModel>

@{
    ViewBag.Title = "Manage Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btnWide{
        width:100%;
    }
</style>

<h2>ManageRoles</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                @Html.ListBox("UserIds", null, new { @class="btnWide"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.DropDownList("Role", null,"--Select Role--", new { @class="btnWide"})
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btnWide">Submit</button>
            </div>
        </div>
        }
    </div>

    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("User Name")
                </th>
                <th>
                    @Html.DisplayName("Role")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.RoleName)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>
