@model IEnumerable<Shaheer_BugTracker.Models.ManageRoleViewModel>

@{
    ViewBag.Title = "Manage Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br />
    <!--Bread come Start-->
    <div class="breadcome-area mg-b-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h3>
                                Manage Roles (Admin)
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bread come End-->
    <div class="project-details-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">
                    <div class="project-details-wrap shadow-reset">
                        <div class="row">
                            <div class="col-lg-12 col-md-10 col-sm-10 col-xs-10">
                                <div class="project-details-title">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        @Html.ListBox("UserIds", null, new { @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("Role", null, "--Select Role--", new { @class = "form-control" })
                                                        <hr />
                                                        <button type="submit" class="btn btn-primary btnWide">Submit</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row container-fluid">
                                            <table class="table" id="projectTable">
                                                <thead>

                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("User Name")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Role")
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(model => item.UserName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(model => item.RoleName)
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; 2018 Colorlib All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</body>

