@model IEnumerable<Shaheer_BugTracker.Models.UserProjectListViewModel>

@{
    ViewBag.Title = "Manage Project Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <br />
    <!--Bread come Start-->
    <div class="breadcome-area mg-b-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="breadcome-heading">
                            <h3>Manage Users On Projects (Admin)</h3> <br />
                            <h5>Select users from the boxes and click submit to assign the Users to the Projects</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bread come End-->
    <div class="project-details-area mg-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">
                    <div class="project-details-wrap  shadow-reset">
                        <div class="row">
                            <div class="project-details-title col-md-6">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Choose a Project!</h3>
                                            @Html.ListBox("Projects", null, new { @class = "form-control" })<br />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <div class="row">
                                                <h4> Project Manager</h4>
                                            </div>
                                            <div class="row">
                                                @Html.DropDownList("ProjectManagerId", null, new { @class = "form-control" })<br />
                                            </div>
                                            <div class="row">
                                                <h4>Developers </h4>
                                            </div>
                                            <div class="row">
                                                @Html.DropDownList("Developers", null, new { @class = "form-control" })<br />
                                            </div>
                                            <div class="row">
                                                <h4> Submitters</h4>
                                            </div>
                                            <div class="row">
                                                @Html.DropDownList("Submitters", null, new { @class = "form-control" })<br />
                                            </div>
                                        }
                                    </div>
                                }

                            </div>

                            <div class="col-md-6">
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("User Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Project")
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => item.Name)
                                            </td>
                                            <td>
                                                @foreach (var name in item.ProjectNames)
                                                {
                                                    @name <br />
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>