@using Shaheer_BugTracker.Helpers;


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bug Tracker!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/jquery-jvectormap-2.0.3.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/bootstrap-editable.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/normalize.css">

    <link href="~/Content/form.css" rel="stylesheet" />
    <!-- charts CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/c3.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

    <!-- Data Tables CSS
        ============================================ -->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header top area start-->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="admin-logo">
                        <a href="#">
                            <img src="Images/log.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-0 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav mai-top-nav">
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                            </li>
                            <li class="nav-item dropdown">
                            </li>
                            <li class="nav-item">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-9 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                            <li class="nav-item dropdown">

                            </li>
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span class="indicator-nt"></span></a>
                                <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                    <div class="notification-single-top">
                                        <h1>Notifications</h1>
                                    </div>
                                    <div class="notification-view">
                                        <a href=@Url.Action("Index", "TicketNotifcations") data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                            <span class="adminpro-icon adminpro-chat-pro"></span>
                                            <span class="indicator-ms">@NotificationHelper.GetUnreadNotifications().Count()</span>
                                        </a>
                                        <div role="menu" class="author-message-top dropdown-menu animated flipInX">
                                            @foreach (var unreadNotification in NotificationHelper.GetUnreadNotifications())
                                            {

                                                @Html.BeginForm("Dismiss", "TicketNotifications", FormMethod.Get)
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("Id", unreadNotification.Id)

                                                    <span class="image">
                                                        <img src="@unreadNotification.Sender.AvatarPath" />
                                                    </span>
                                                    <span>
                                                        <span>@unreadNotification.Sender</span>
                                                        <span class="time">Created: @unreadNotification.CreatedDate.ToString("MMM dd, yyyy")</span>
                                                    </span>
                                                    <span class="message">
                                                        @unreadNotification.NotificationBody
                                                    </span>
                                                    <br />
                                                    <button type="submit">Dismiss</button>
                                                }
                                            }
                                            <div class="message-single-top">
                                                <h1>Message</h1>
                                            </div>
                                            <ul class="message-menu">
                                                <li>

                                                </li>
                                            </ul>
                                            <div class="message-view">
                                                <a href="#">View All Messages</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                    <span class="admin-name">@User.Identity.Name</span>
                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li>
                                        <a href=@Url.Action("EditProfile","Home")> <span class="adminpro-icon adminpro-home-admin author-log-ic"></span>My Account</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("CustomLogOff", "Account")> <span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header top area end-->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-t-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs custom-menu-wrap">
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Page" class="tab-pane in active tab-custon-menu-bg animated flipInX">
                            <ul class="main-menu-dropdown">
                                <li>
                                    <a href=@Url.Action("Login","Account",null)>Login</a>
                                </li>
                                <li>
                                    <a href=@Url.Action("Register", "Account", null)>Register</a>
                                </li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li>
                                        <a href=@Url.Action("ManageRoles", "Admin" , "Admin")>Manage Roles</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("index","projects","project")>Projects</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("index","tickets","ticket")>Tickets</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("Manageprojectusers","Admin","Admin")>Project Users</a>
                                    </li>
                                    <li>
                                        <a href="#">Order</a>
                                    </li>
                                    <li>
                                        <a href="#">Comment</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <li>
                                        <a href=@Url.Action("Login","Account",null)>Login</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("Register", "Account", null)>Register</a>
                                    </li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        <li>
                                            <a href=@Url.Action("ManageRoles", "Admin" , "Admin")>Manage Roles</a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("index","projects","project")>Projects</a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("index","tickets","ticket")>Tickets</a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("Manageprojectusers","Admin","Admin")>Project Users</a>
                                        </li>
                                        <li>
                                            <a href="#">Order</a>
                                        </li>
                                        <li>
                                            <a href="#">Comment</a>
                                        </li>
                                    }
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    @RenderBody()
    <!-- jquery============================================ -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>

    <script src="~/Scripts/jquery.form.min.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/counterup-active.js"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="~/Scripts/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Scripts/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/jvectormap-active.js"></script>
    <!-- peity JS
        ============================================ -->
    <script src="~/Scripts/jquery.peity.min.js"></script>
    <script src="~/Scripts/peity-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/jquery.flot.spline.js"></script>
    <script src="~/Scripts/jquery.flot.resize.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot.symbol.js"></script>
    <script src="~/Scripts/jquery.flot.time.js"></script>
    <script src="~/Scripts/dashtwo-flot-active.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/tableExport.js"></script>
    <script src="~/Scripts/data-table-active.js"></script>
    <script src="~/Scripts/bootstrap-table-editable.js"></script>
    <script src="~/Scripts/bootstrap-editable.js"></script>
    <script src="~/Scripts/bootstrap-table-resizable.js"></script>
    <script src="~/Scripts/colResizable-1.5.source.js"></script>
    <script src="~/Scripts/bootstrap-table-export.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Scripts/main.js"></script>
    <!--New Data Table JS
        ============================================ -->
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <script>
        $('#projectTable').DataTable();
        $('#ticketTable').DataTable();
    </script>
    @RenderSection("scripts", false)
</body>

</html>